<a href="https://colab.research.google.com/github/Rincyniza/Rincyniza_python/blob/main/practice_problem_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**practice problem day 2**

In [1]:
#(1)Write a program to find sum of all elements in a list of integers

List1=[1,2,3,4,5,6]
Sum=sum(List1)
print("Sum of all elements",Sum)

Sum of all elements 21

In [146]:
#(2)Input a sentence as a string
#print its length
#print the first half of string
Str="Hello World"
length=len(Str)
print("length of string",length)
print("First half of string")
print (Str[:length//2])

length of string 11
First half of string
Hello

In [106]:
#(3)Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39)
#Change the third value in the tuple to 100
tuple1=(78,45,32,19,82,77,40,39)
#as tuple is immutable we have to convert the tuple into a list
list2=list(tuple1)
list2[2]=100
#convert it back to a tuple
tuple2=tuple(list2)
print("updated tuple\n",tuple2)

updated tuple
 (78, 45, 100, 19, 82, 77, 40, 39)

In [129]:
#(4)Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

#(a)Delete the first occurrence of 32

listA.pop(1)
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [131]:

#(b)delete all occurrences of 40

value=40
while value in listA:
  listA.remove(value)

print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [21]:
#(c)Delete the value at index =5

listA.pop(5)

94

In [147]:
#(d)Modify the value at index=9 as 300

listA[9]=300
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 300]

In [148]:
#(e)Add 200 at index =2

listA.insert(2,200)
listA

[19, 10, 200, 55, 31, 32, 94, 29, 10, 65, 300]

In [149]:
#(f)Print the final list with its length,maximum value and sum of all elements

print("final list",listA)
Length=len(listA)
print("length",Length)
Maxvalue=max(listA)
print("Maximum value",Maxvalue)
Sum=sum(listA)
print("Sum of all elements",Sum)

final list [19, 10, 200, 55, 31, 32, 94, 29, 10, 65, 300]
length 11
Maximum value 300
Sum of all elements 845

In [158]:
#(5)Consider a string "The day has been long "

Str1="The day has been long"
#(a)Delete the value at index =4
S=Str1[:4]+Str1[5:]
print("new string\n",S)

new string
 The ay has been long

In [134]:
#(b)Print the string 4 times in a single line with space between each repetition
#use numpy library to object repetition
import numpy as np
#numpy.repeat() repeats a given object in a python array
Str2=np.repeat(Str1,4)
#Str2 is an array with string elements
result=' '.join(Str2)
print(result)

The ay has been long The ay has been long The ay has been long The ay has been long

In [135]:
#(c)Print the string 3 times in a new line each time
Str2=np.repeat(Str1,3)
result='\n'.join(Str2)
print(result)

The ay has been long
The ay has been long
The ay has been long

In [136]:
#(d)Modify the string at index 7 as 'A'

index=7
new_char='A'
Strlist1=list(Str1)
Strlist1[index]=new_char
Str1="".join(Strlist1)
print(Str1)

The ay Aas been long

In [137]:
#(e)Print the string from index 4 to 15

Str1[4:16]

'ay Aas been '

In [138]:
#(f)Print the final string with its length

print("Final string\n",Str1)
print("length of string",len(Str1))

Final string
 The ay Aas been long
length of string 20